* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #212a31;
}

@media screen and (min-width: 2400px) {
  body {
    margin: 0rem 24rem;
  }
}

h1 {
  font-size: 46px;
  line-height: 120%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #212a31;
  font-weight: 500;
}

p {
  font-weight: 500;
  text-align: justify;
}

ol {
  list-style: none;
}

button {
  border: none;
  background-color: #2d3b8d;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 7px;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 1030px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  a {
    font-size: 16px;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
}

/*********************************/
/* CUSTOME CLASSES  */
/*********************************/
.section {
  margin-bottom: 3rem;
}

.section-heading-container {
  display: grid;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.section-heading-container .section-heading-underline {
  margin-top: 0.5rem;
  height: 0.25rem;
  justify-self: center;
  width: 60%;
  border-bottom: 2rem;
  background-color: #2d3b8d;
}

.header-container {
  padding: 0rem 2rem;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header-container img {
  height: 7rem;
  position: absolute;
}

.header-container ol li {
  float: right;
  margin: 0rem 0.75rem;
}

.header-container .login {
  padding: 0 0.75rem;
  border: 1px solid #0fcd6c;
  border-radius: 6px;
}

.header-container .login i {
  color: #0fcd6c;
  margin-right: 0.2rem;
}

/* 
--------------------------------------------- 
1.1 HAMBURGER
---------------------------------------------
*/
#hamburger-1 {
  justify-self: end;
  display: none;
  position: relative;
  top: 0.25rem;
  left: -1rem;
}

#hamburger-1 .line {
  width: 30px;
  height: 3px;
  background-color: #212a31;
  display: block;
  margin: 4px auto;
  position: relative;
  top: -0.2rem;
  transition: all 0.3s ease-in-out;
}

#hamburger-1:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (min-width: 1030px) {
  .header-container {
    padding: 0rem 3rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .header-container img {
    height: 9rem;
    position: absolute;
  }
  .header-container ol li {
    float: right;
    margin: 0rem 0.75rem;
  }
  .header-container .login {
    padding: 0 0.75rem;
    border: 1px solid #0fcd6c;
    border-radius: 6px;
  }
  .header-container .login i {
    color: #0fcd6c;
    margin-right: 0.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .header-container {
    padding: 0rem 3rem;
    height: 4rem;
  }
  .header-container ol {
    display: none;
  }
  #hamburger-1 {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .header-container {
    padding: 0rem 1rem;
    height: 3rem;
  }
  .header-container img {
    height: 6rem;
  }
}

@media screen and (max-width: 350px) {
  .header-container img {
    height: 5rem;
  }
}

.hero-container {
  margin: 0rem 3rem;
  margin-right: 0;
  margin-bottom: 3rem;
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 0.5rem;
  overflow: hidden;
}

.hero-content-container {
  margin-top: 5rem;
}

.hero-content-container p {
  margin-right: 2rem;
}

.hero-content-container button {
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  margin-top: 1.5rem;
}

.splide_list {
  width: fit-content;
}

.slides {
  width: calc(55vw - 2rem);
  height: calc(100vh - 3rem);
  background-repeat: no-repeat;
}

.slides h2 {
  position: absolute;
  bottom: 1rem;
  margin: 0rem 3rem 0rem 8rem;
  text-align: right;
  color: white;
}

.slides h2 span {
  color: #0fcd6c;
}

.slide-1 {
  background: url(../assets/images/hero-banner-1.png);
}

.slide-2 {
  background: url(../assets/images/hero-banner-2.png);
}

.slides {
  background-size: cover;
}

@media screen and (min-width: 1030px) {
  .hero-container {
    height: calc(100vh - 4rem);
  }
  .slides {
    height: calc(100vh - 4rem);
    background-repeat: no-repeat;
  }
  .slides h2 {
    bottom: 1rem;
    margin: 0rem 5rem 0rem 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .hero-content-container {
    margin-top: 7rem;
  }
  .hero-content-container p {
    font-size: 20px;
  }
  .hero-content-container button {
    font-size: 28px;
    padding: 0.75rem 2.5rem;
    margin-top: 3rem;
  }
  .splide_list {
    width: fit-content;
  }
  .slides {
    width: calc(55vw - 2rem);
    height: calc(100vh - 4rem);
    background-repeat: no-repeat;
  }
  .slides h2 {
    bottom: 1rem;
  }
}

@media screen and (min-width: 2400px) {
  .slides {
    width: calc(55vw - 28rem);
    height: calc(50vh - 4rem);
  }
  .slides {
    background-position: right;
    background-size: contain;
  }
  .slides h2 {
    margin: 0rem 3rem 0rem 28rem;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpSD {
  animation-name: fadeInUpSD;
}

.is-visible h2 {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .hero-container {
    height: calc(100vh - 4rem);
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin-left: 0;
  }
  .hero-content-container {
    margin: 5rem 3rem 0rem 3rem;
  }
  .hero-content-container p {
    margin-right: 2rem;
  }
  .hero-content-container button {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
  }
  .slides {
    width: 100vw;
    height: calc(50vh - 2rem);
  }
  .slides h2 {
    bottom: 2rem;
    margin: 0rem 5rem 0rem 2rem;
  }
  .slide-1 {
    background: url(../assets/images/hero-banner-1-tab.png);
    background-size: 100vw 43vh;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 560px) {
  .hero-container {
    height: calc(100vh - 3rem);
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    margin-left: 0;
  }
  .hero-content-container {
    margin: 4rem 2rem 0rem 2rem;
  }
  .hero-content-container p {
    margin-right: 2rem;
  }
  .hero-content-container button {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
  }
  .slides {
    width: 100vw;
    height: calc(40vh - 1.5rem);
  }
  .slides h2 {
    bottom: 1rem;
    margin: 0rem 2rem 0rem 2rem;
  }
  .slide-1 {
    background: url(../assets/images/hero-banner-1-tab.png);
  }
  .slide-2 {
    background: url(../assets/images/hero-banner-2-tab.png);
  }
  .slides {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 350px) {
  .hero-content-container {
    margin: 3rem 1.5em 0rem 1.5rem;
  }
  .hero-content-container p {
    font-size: 12px;
  }
  .hero-content-container button {
    font-size: 16px;
    padding: 0.25rem 1.5rem;
    margin-top: 1rem;
  }
  .slides h2 {
    bottom: 1rem;
    margin: 0rem 1.5rem 0rem 1.5rem;
    font-size: 18px;
  }
}

.salience-content-container {
  margin: 0rem 3rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.salience-card {
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  display: grid;
  align-items: flex-end;
}

.salience-card p {
  color: white;
  text-align: center;
  font-size: 14px;
}

.salience-card-1 {
  background: url(../assets/backgrounds/card-1.png);
}

.salience-card-2 {
  background: url(../assets/backgrounds/card-2.png);
}

.salience-card-3 {
  background: url(../assets/backgrounds/card-3.png);
}

.salience-card-4 {
  background: url(../assets/backgrounds/card-4.png);
}

.salience-card-5 {
  background: url(../assets/backgrounds/card-5.png);
}

.salience-card-6 {
  background: url(../assets/backgrounds/card-6.png);
}

.salience-card-1,
.salience-card-4 {
  justify-self: right;
}

.salience-card-2,
.salience-card-5 {
  justify-self: center;
}

.salience-card {
  background-size: 101% 102%;
}

@media screen and (min-width: 1030px) {
  .salience-card {
    height: 18rem;
    width: 18rem;
  }
  .salience-card p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .salience-card {
    height: 20rem;
    width: 20rem;
  }
  .salience-card p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .salience-content-container {
    grid-template-columns: repeat(2, 50%);
  }
  .salience-card {
    height: 18rem;
    width: 18rem;
    justify-self: center;
  }
}

@media screen and (max-width: 560px) {
  .salience-content-container {
    grid-template-columns: repeat(1, 100%);
  }
  .salience-card {
    height: 18rem;
    width: 18rem;
    justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */