body {
  background-color: $background-color;
  color: $text-color;
}

@media screen and (min-width: 2400px) {
  body {
    margin: 0rem 24rem;
  }
}

h1 {
  font-size: 46px;
  line-height: 120%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: $text-color;
  font-weight: 500;
}

p {
  font-weight: 500;
  text-align: justify;
}

ol {
  list-style: none;
}

button {
  border: none;
  background-color: $cta-back-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 7px;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 1030px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  a {
    font-size: 16px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}
