body {
  background-color: $background-color;
  color: $text-color;
}

@media screen and (min-width: 2400px) {
  body {
    margin: 0rem 24rem;
  }
}

h1 {
  font-size: 46px;
  line-height: 120%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: $text-color;
  font-weight: 500;
}

p {
  font-weight: 500;
  text-align: justify;
}

ol {
  list-style: none;
}

button {
  border: none;
  background-color: $cta-back-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 7px;
  transition: 0.5s;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

form {
  display: grid;
  height: fit-content;
}

input,
textarea {
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
}

input::placeholder {
  opacity: 0.75;
  font-weight: 700;
}

input:focus {
  outline: 1px solid $cta-back-color;
}

textarea {
  resize: none;
}

@media screen and (min-width: 1030px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  a {
    font-size: 16px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}

/*********************************/

/* CUSTOME CLASSES  */

/*********************************/

.section {
  margin-bottom: 3rem;
}

.section-heading-container {
  display: grid;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  .section-heading-underline {
    margin-top: 0.5rem;
    height: 0.25rem;
    justify-self: center;
    width: 60%;
    border-bottom: 2rem;
    background-color: $cta-back-color;
  }
}

.form-btn {
  background-color: #06852e;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
}

@media screen and (min-width: 1030px) {
  .section-heading-container {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .section-heading-container {
    h2 {
      font-size: 36px;
    }
  }
}
