.preloader-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: grid;
  z-index: 999999;
  top: 0;
  background-color: $background-color;
}

.preloader-animation-container {
  justify-items: center;
  align-self: center;
  display: grid;
}

#pre-loader-img {
  height: 10rem;
}

#line {
  height: 3px;
  width: 15rem;
  background: #e8e8e8;
  margin-top: 2rem;
}

#inner {
  width: 100%;
  height: inherit;
  background: #0077b5;
  animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform-origin: left;
    transform: scalex(0.3);
  }

  25% {
    transform-origin: left;
    transform: scalex(1);
  }
  26% {
    transform-origin: right;
    transform: scalex(1);
  }
  50% {
    transform-origin: right;
    transform: scalex(0.3);
  }

  75% {
    transform-origin: right;
    transform: scalex(1);
  }
  76% {
    transform-origin: left;
    transform: scalex(1);
  }
  100% {
    transform-origin: left;
    transform: scalex(0.3);
  }
}

@media screen and (max-width: 560px) {
  #pre-loader-img {
    height: 8rem;
  }

  #line {
    width: 10rem;
  }
}

.header-container {
  padding: 0rem 2rem;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background-color;

  img {
    height: 7rem;
    position: absolute;
    top: 0rem;
    left: 2rem;
  }

  ol {
    li {
      float: right;
      margin: 0rem 0.75rem;
    }
  }

  .login {
    display: none;
    padding: 0 0.75rem;
    border: 1px solid $accent-color;
    border-radius: 6px;
    i {
      color: $accent-color;
      margin-right: 0.2rem;
    }
  }
}

/* 
--------------------------------------------- 
1.1 HAMBURGER
---------------------------------------------
*/

#hamburger-1 {
  justify-self: end;
  display: none;
  position: relative;
  top: 0.25rem;
  left: -1rem;
  .line {
    width: 30px;
    height: 3px;
    background-color: $text-color;
    display: block;
    margin: 4px auto;
    position: relative;
    top: -0.2rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.mobile-navigation-container {
  position: fixed;
  top: 3rem;
  z-index: 1;
  left: 0;
  width: 100vw;
  background-color: $background-color;
  display: none;
  height: 0;
  overflow: scroll;
}

.mob-nav-inner-container {
  margin: 5rem 3rem;

  a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
      height: 2rem;
    }
  }

  hr {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1030px) {
  .header-container {
    padding: 0rem 3rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .header-container {
    img {
      height: 9rem;
      position: absolute;
    }

    ol {
      li {
        float: right;
        margin: 0rem 0.75rem;
      }
    }

    .login {
      padding: 0 0.75rem;
      border: 1px solid $accent-color;
      border-radius: 6px;
      i {
        color: $accent-color;
        margin-right: 0.2rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header-container {
    padding: 0rem 3rem;
    height: 4rem;
    ol {
      display: none;
    }
  }

  #hamburger-1 {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .header-container {
    padding: 0rem 1rem;
    height: 3rem;
    img {
      left: 1rem;
      height: 5rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .header-container {
    img {
      height: 4rem;
    }
  }

  .mob-nav-inner-container {
    margin: 3rem 3rem;
  }
}
