.hero-container {
  margin: 3rem;
  margin-right: 0;
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 0.5rem;
  overflow: hidden;
}

.hero-content-container {
  margin-top: 5rem;

  p {
    margin-right: 2rem;
  }

  button {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
  }
}

.splide_list {
  width: fit-content;
}

.slides {
  width: calc(55vw - 2rem);
  height: calc(100vh - 3rem);
  background-repeat: no-repeat;
  z-index: 1;

  h2 {
    position: absolute;
    bottom: 1rem;
    margin: 0rem 3rem 0rem 8rem;
    text-align: right;
    color: white;

    span {
      color: $accent-color;
    }
  }
}

.slide-1 {
  background: url(../assets/images/hero-banner-1.webp);
}

.slide-2 {
  background: url(../assets/images/hero-banner-2.webp);
}

.slides {
  background-size: cover;
}

@media screen and (min-width: 1030px) {
  .hero-container {
    margin-top: 4rem;
    height: calc(100vh - 4rem);
  }

  .slides {
    height: calc(100vh - 4rem);
    background-repeat: no-repeat;

    h2 {
      bottom: 1rem;
      margin: 0rem 5rem 0rem 10rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero-content-container {
    margin-top: 7rem;
    p {
      font-size: 20px;
    }

    button {
      font-size: 28px;
      padding: 0.75rem 2.5rem;
      margin-top: 3rem;
    }
  }

  .splide_list {
    width: fit-content;
  }

  .slides {
    width: calc(55vw - 2rem);
    height: calc(100vh - 4rem);
    background-repeat: no-repeat;

    h2 {
      bottom: 1rem;
    }
  }
}

@media screen and (min-width: 2400px) {
  .slides {
    width: calc(55vw - 28rem);
    height: calc(50vh - 4rem);
  }

  .slides {
    background-position: right;
    background-size: contain;

    h2 {
      margin: 0rem 3rem 0rem 28rem;
    }
  }
}

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.is-visible h2 {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .hero-container {
    height: calc(100vh - 4rem);
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin-left: 0;
    margin-top: 4rem;
  }

  .hero-content-container {
    margin: 5rem 3rem 0rem 3rem;

    p {
      margin-right: 2rem;
    }

    button {
      font-size: 20px;
      padding: 0.5rem 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .slides {
    width: 100vw;
    height: calc(50vh - 2rem);

    h2 {
      bottom: 2rem;
      margin: 0rem 5rem 0rem 2rem;
    }
  }

  .slide-1 {
    background: url(../assets/images/hero-banner-1-tab.png);
    background-size: 100vw 43vh;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .slide-2 {
    background: url(../assets/images/hero-banner-2-tab.png);
    background-size: 100vw 43vh;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 580px) {
  .hero-container {
    height: calc(100vh - 3rem);
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
    margin-left: 0;
    margin-top: 3rem;
  }

  .hero-content-container {
    margin: 3rem 0rem 0rem 2rem;

    h1 {
      margin-bottom: 1rem;
    }

    p {
      margin-right: 2rem;
    }

    button {
      font-size: 20px;
      padding: 0.5rem 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .hero-carousel {
    align-self: flex-end;
  }

  .slides {
    width: 100vw;
    height: calc(45vh - 1.5rem);

    h2 {
      bottom: 1rem;
      margin: 0rem 2rem 0rem 2rem;
    }
  }

  .slides {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 360px) and (max-height: 650px) {
  .hero-container {
    height: calc(100vh - 3rem);
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
    margin-left: 0;
    margin-top: 3rem;
  }

  .hero-content-container {
    margin: 3.5rem 2rem 0rem 2rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 30px;
    }

    p {
      margin-right: 0rem;
    }

    button {
      font-size: 18px;
    }
  }

  .slides {
    h2 {
      bottom: 1rem;
      margin: 0rem 1rem 0rem 2rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .hero-content-container {
    margin: 2rem 1.5em 0rem 1.5rem;

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 12px;
    }

    button {
      font-size: 16px;
      padding: 0.25rem 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .slides {
    height: calc(40vh - 1.5rem);
    h2 {
      bottom: 1rem;
      margin: 0rem 1.5rem 0rem 1.5rem;
      font-size: 18px;
    }
  }
}
