.sister-page-hero-container {
  display: grid;
  grid-template-columns: 50% 50%;

  img {
    height: calc(50vw - 8rem);
    justify-self: right;
    margin-bottom: 4rem;
  }
}

.sister-page-hero-content {
  margin: 6rem 2rem 3rem 4rem;
  h1 {
    margin-bottom: 2rem;
  }
}

.page-content {
  margin: 0rem 12rem 3rem 4rem;

  p {
    margin-bottom: 1rem;
  }
}

.features-card-container {
  margin: 2rem 3rem;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);

  .feature-card {
    padding: 1rem 0rem;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 3px 8px 13px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 0.75rem;

    h3,
    p {
      margin: 0rem 2rem;
      text-align: left;
    }

    hr {
      margin: 1rem 0rem;
    }
  }
}

@media screen and (min-width: 1030px) {
  .sister-page-hero-container {
    img {
      height: calc(50vw - 10rem);
    }
  }
}

@media screen and (min-width: 2400px) {
  .sister-page-hero-container {
    img {
      height: calc(50vw - 46rem);
    }
  }
}

@media screen and (max-width: 1000px) {
  .sister-page-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
    height: 100vh;

    img {
      height: calc(100vw - 18rem);

      margin-bottom: 0rem;
      grid-row: 1/2;
    }
  }

  .sister-page-hero-content {
    margin: 2rem 3rem;
    align-self: flex-start;
  }

  .features-card-container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 560px) {
  .sister-page-hero-container {
    grid-template-rows: 55% 45%;
    height: fit-content;
    margin-bottom: 2rem;

    img {
      height: 19rem;
    }
  }

  .page-content {
    margin: 3rem;

    p {
      margin-bottom: 1rem;
    }
  }

  .features-hero-container {
    grid-template-rows: 45% 55%;
  }

  .features-card-container {
    margin: 2rem 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

@media screen and (max-width: 360px) {
  .sister-page-hero-container {
    grid-template-rows: 40% 60%;
    img {
      height: 15rem;
    }
  }

  .features-hero-container {
    grid-template-rows: 35% 65%;
  }
}

.contact-details-tiles {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;

  img {
    height: 1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 560px) {
  .contact-details-tiles {
    margin-top: 0.75rem;
  }

  .contact-sister-content {
    margin: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .contact-details-tiles {
    margin-top: 0.75rem;
  }

  .contact-sister-content {
    margin: 2rem 1rem;
  }
}

.map-container {
  display: grid;
  justify-content: center;
  margin-bottom: 3rem;
  iframe {
    height: 80vh;
    width: 80vw;
    border: 2px solid black;
  }
}

@media screen and (max-width: 1000px) {
  .map-container {
    iframe {
      height: 50vh;
    }
  }
}
