.sister-page-hero-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3rem;
  height: calc(100vh - 3rem);

  img {
    height: calc(50vw - 8rem);
    justify-self: right;
    margin-bottom: 4rem;
  }
}

.sister-page-hero-content {
  margin: 6rem 2rem 3rem 4rem;
  h1 {
    margin-bottom: 2rem;
  }
}

.page-content {
  margin: 0rem 12rem 3rem 4rem;

  p {
    margin-bottom: 1rem;
  }
}

.features-card-container {
  margin: 2rem 3rem;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);

  .feature-card {
    padding: 1rem 0rem;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 3px 8px 13px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 0.75rem;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }

    h3,
    p {
      margin: 0rem 2rem;
      text-align: left;
    }

    hr {
      margin: 1rem 0rem;
    }
  }
}

.section-gallery-outer-container {
  margin: 6rem;
  margin-top: 8rem;
  margin-bottom: 3rem;

  h2 {
    margin-left: 1rem;
  }
}

.gallery-section-container {
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;

  img {
    height: 30rem;

    &:hover {
      filter: drop-shadow(3px 8px 13px rgba(0, 0, 0, 0.5));
    }
  }
}

.promoters-list-outer-container {
  margin: 1rem 3rem;

  .section-heading-container {
    margin-bottom: 1rem;
  }
}

.promoters-list-inner-container {
  display: grid;
  grid-template-columns: 1fr;
}

.promoters-card {
  padding: 3rem 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  position: relative;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 2rem;
  display: grid;

  img {
    position: absolute;
    height: 12rem;
    top: -6rem;
    left: 4rem;
  }

  h3 {
    margin-left: 16rem;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1030px) {
  .sister-page-hero-container {
    img {
      height: calc(50vw - 10rem);
    }
  }

  .promoters-card {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .sister-page-hero-container {
    height: calc(100vh - 4rem);
    margin-top: 4rem;
  }
}

@media screen and (min-width: 2400px) {
  .sister-page-hero-container {
    img {
      height: calc(50vw - 46rem);
    }
  }

  .features-card-container {
    margin: 2rem 3rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 1000px) {
  .sister-page-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
    height: calc(100vh - 3rem);

    img {
      height: calc(100vw - 18rem);

      margin-bottom: 0rem;
      grid-row: 1/2;
    }
  }

  .sister-page-hero-content {
    height: auto;
    margin: 2rem 3rem;
    align-self: flex-start;
  }

  .features-card-container {
    grid-template-columns: repeat(2, 50%);
  }

  .promoters-card {
    padding: 3rem;
    margin-top: 5rem;

    img {
      height: 10rem;
      top: -4rem;
      left: 2rem;
    }

    h3 {
      margin-left: 10rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 560px) {
  .sister-page-hero-container {
    grid-template-rows: 55% 45%;
    height: fit-content;
    height: auto;
    margin-bottom: 2rem;

    img {
      height: 19rem;
    }
  }

  .section-gallery-outer-container {
    margin: 1rem;
    margin-top: 6rem;
    margin-bottom: 3rem;

    h2 {
      margin-left: 1rem;
    }
  }

  .gallery-section-container {
    img {
      height: 20rem;
    }
  }

  .page-content {
    margin: 3rem;

    p {
      margin-bottom: 1rem;
    }
  }

  .features-hero-container {
    grid-template-rows: 45% 55%;
  }

  .features-card-container {
    margin: 2rem 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .promoters-list-outer-container {
    margin: 1rem;

    .section-heading-container {
      margin-bottom: 3rem;
    }
  }

  .promoters-card {
    padding: 3rem 2rem;
    padding-top: 5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;

    img {
      height: 8rem;
      top: -4rem;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    h3 {
      margin-left: 0rem;
      margin-bottom: 2rem;
      text-align: center;
      justify-self: center;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .sister-page-hero-container {
    grid-template-rows: 40% 60%;
    img {
      height: 15rem;
    }
  }

  .features-hero-container {
    grid-template-rows: 35% 65%;
  }
}

.contact-details-tiles {
  margin-top: 1.2rem;
  display: flex;

  img {
    height: 1.5rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .contact-details-tiles {
    margin-top: 0.75rem;
  }

  .contact-sister-content {
    margin: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .contact-details-tiles {
    margin-top: 0.75rem;
  }

  .contact-sister-content {
    margin: 2rem 1rem;
  }
}

.map-container {
  display: grid;
  justify-content: center;
  margin-bottom: 3rem;
  iframe {
    height: 80vh;
    width: 80vw;
    border: none;
  }
}

@media screen and (max-width: 1000px) {
  .map-container {
    iframe {
      height: 50vh;
    }
  }
}
